.appBar {
  font-family: Dancing;
  font-size: 30px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 46px;
  background: rgba(0,0,0,.99);
  padding: 10px;
  box-shadow: 2px 2px 2px #888;
  color: white;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 600px) {
      // width: 400px; 
  }
}
