
.modal-component {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @media (min-width: 600px) {
      width: 400px; 
    }
    // -webkit-animation: stretch 0.09s; /* Safari, Chrome and Opera > 12.1 */
       // -moz-animation: stretch 0.09s; /* Firefox < 16 */
        // -ms-animation: stretch 0.09s; /* Internet Explorer */
         // -o-animation: stretch 0.09s; /* Opera < 12.1 */
            // animation: stretch 0.09s;
    
    -webkit-animation: stretch 0.09s;           
       -moz-animation: stretch 0.09s;           
        -ms-animation: stretch 0.09s;           
         -o-animation: stretch 0.09s;           
            animation: stretch 0.09s;           
}

.content {
    
}

@keyframes stretch {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes stretch {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes stretch {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes stretch {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes stretch {
    from { opacity: 0; }
    to   { opacity: 1; }
}