@import './main';

.cross {
    font-size: 25px;
    padding: 10px;
    right: 0;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-end;
}

.menu{
    font-size: 30px;
    padding: 10px;
    
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  // bottom: 20px;
  // right: 20px;
  // width: 75px;
  // height: 75px;
  background: transparent;
  cursor: pointer;
  
  &.active {
    
    &:before {
      transform: scale(18);
      
      @media (min-height: 800px) {
        transform: scale(25);
      }
    }
  }
  
  &:active {
    
    &:before {
      opacity: 0.75;
    }
  }
  
  &:before {
    content: "";
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: -1;
    cursor: pointer;
    transform-origin: center 70%;
    transform: scale(1);
    transition: all 0.35s ease-out;
  }
}
