.search {
  font-family: Roboto;
  z-index: 3;
  margin: 10px;
  height: 46px;
  width: 100%;
  border-radius: 1.5px;
  background: rgba(255,153,0,1);
  padding: 2px;
  box-shadow: 2px 2px 2px #888;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 600px) {
      width: 400px; 
  }
}

.searchInput{
  font-family: Roboto;
  border: 0.5px solid gray;
  width: 75%;
  height: 95%;
  font-size: 15px;
  padding: 8px;
}

.searchMenu{
  padding: 5px;
  
}

.serachDotsVerticle{
  padding: 5px;
}

.nrds-title{
  font-family: 'Squada One';
  font-size: 28px;
  padding: 5px;
  padding-left: 10px;
}