.userBar{
  display: none;
  // width: 30px; 
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    // justify-content: space-between;
    align-items: center;
    background: transparent;
    
    //width: 30px; 
  }
}

.user{
  font-family: 'Roboto';
  font-size: 20px;
  color: black;
    
}