@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/squada-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Squada One'), local('SquadaOne-Regular'), url('fonts/squada-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), url('fonts/squada-one-v5-latin-regular.woff2') format('woff2'), url('fonts/squada-one-v5-latin-regular.woff') format('woff'),
       url('fonts/squada-one-v5-latin-regular.ttf') format('truetype'),
       url('fonts/squada-one-v5-latin-regular.svg#SquadaOne') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/roboto-v15-latin-regular.woff2') format('woff2'), 
       url('fonts/roboto-v15-latin-regular.woff') format('woff'), 
       url('fonts/roboto-v15-latin-regular.ttf') format('truetype'),
       url('fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Dancing';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing'), local('Dancing-Regular'),
       url('fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpecialElite';
  font-style: normal;
  font-weight: 400;
  src: local('SpecialElite'), local('SpecialElite-Regular'),
       url('fonts/SpecialElite.ttf') format('truetype');
}