.editInput{
    border: none;
    min-width: 600px;
    height 100px;
    font-family: primary-font-family;
    font-size: desktop-text-font-size;
    border: 0 none white;
    
    // overflow: hidden;
    // padding: 0;
    // outline: none;
    // resize: verticle;

    min-height: 16px;
    margin: 0;
    padding: 10px;
    
    line-height: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    resize: none;
    border: 1px solid #ccc;
    outline: none;
    width: 200px;
    
}
