.info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.infoPage{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    @media (min-width: 600px) {
      margin-left: 12%;
      margin-right: 12%;
      padding: 66px;
      box-shadow: md-card-2;
      margin-bottom: 60px;
      margin-top: 20px;
    }
}
    
.infoTitle{
    margin: 25px 15px;
    
    font-size: mobile-title-font-size;
    @media (min-width: 600px) {
        font-size: desktop-title-font-size;      
    }
    text-align: center;
    text-transform: uppercase;
    // // font-size: 24px;
    // @media (min-width: 600px) {
    //   font-size: 28px;
    // }
}

.infoSectionTitle{
    
    font-size: mobile-section-font-size;
    @media (min-width: 600px) {
        font-size: desktop-section-font-size;       
        padding-top: 25px;
    }
    text-align: left;
    padding-top: 10px;
    text-transform: capitalize;
}


.authorInfo{
    padding-bottom: 15px;
    margin-bottom: 10px;
    background: white;
    // border-bottom: solid 1px lightGray;
    // -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    // -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    // box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.15);
}

.appInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background: white;
    // border-bottom: solid 1px lightGray;
    // -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    // -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    // box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.15);
}

.appDetails{
    font-size: 17px;
    text-align: justify;
    padding: 10px;
}

.authorDetails{
    display: flex;
    color: black;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    @media (min-width: 600px) {
      // width: 400px;
      margin-left: auto;
    }
}

.introDetails{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    padding-right: 5px;
    margin-bottom: 20px;
}

.introDetailItem{
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.introDetailKey{
    // font-size: 20px;
    padding-right: 6px;
    text-transform: capitalize;
    font-weight: bold;
    
    // font-family: 'Squada one';
}

.introPhoto > img {
    background: rgba(255,255,255,.99);
    box-shadow: 2px 2px 2px #888;
    width: 120px;
    // border-radius: 50%;
    padding 10px;
    text-align: center;
    border: 10px solid black;
    margin-bottom: 12px;
    
    @media (min-width: 600px) {
        width: auto;
        height: auto;
    }
    
}

img{
    // 
}


/* resize images */
.introPhoto img {
    opacity: 0.6;
    width: 88%;
    height: auto;
    
}

.info-items{
    
    display: flex;
    color: black;
    flex-direction: column;
    align-items: strech;
}

.info-item{
    padding: 10px;
    // width: 100%;
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}