.mdi-checkbox-marked-circle-outline{
  color: rgb(0, 204, 0);
}

.mdi-alert-octagon{
  color: red;
}

.mdi-settings{
  // font-size: 20px;   
}

.mdi-alert{
  color: gold;
}

.mdi-checkbox-marked-circle-outline, .mdi-alert, .mdi-settings, .mdi-alert-octagon, .mdi-checkbox-marked-circle-outline {
  font-size: 30px;
  padding: 8px;
  @media (min-width: 600px) {
      font-size: 38px;
  }
}

.mdi-table-large, .mdi-chart-bar, .mdi-flag-triangle, .mdi-checkerboard{
  font-size: 24px;
  padding: 8px;
  @media (min-width: 600px) {
      font-size: 30px;
  }
}


// .mdi-pencil, .mdi-content-save, .mdi-camera, .mdi-cloud-upload, .mdi-plus, .mdi-window-close {
//   // padding: 10%; 

// }

