.editPage{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    @media (min-width: 600px) {
      margin-left: 12%;
      margin-right: 12%;
      padding: 66px;
      box-shadow: md-card-1;
      margin-bottom: 60px;
      margin-top: 20px;
    }
}

.editItems{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: flex-start;
}

.editTitle{
    margin: 25px 15px;
    font-size: mobile-title-font-size;
    @media (min-width: 600px) {
        font-size: desktop-title-font-size;      
    }
    text-align: center;
    text-transform: uppercase;
}

.editTopic{
    border: none;
    min-width: 600px;
    // height 100px;
    font-family: primary-font-family;
    font-size: desktop-text-font-size;
    border: 0 none white;
    color: black;
    min-height: 40px;
    text-align: left;
    margin: 0;
    padding: 10px;
    outline: none;
}

.editInput{
    border: none;
    width: inherit;
    // height: auto;
    font-family: primary-font-family;
    font-size: desktop-text-font-size;
    // border: 0 none white;
    
    // overflow: hidden;
    // padding: 0;
    // outline: none;
    // resize: verticle;

    min-height: 18px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    resize: none;
    border: 1px solid #ccc;
    outline: none;
    // width: 200px;
    
}

