.page{
    margin-top: 45px;
    margin: 10px;
    border-radius: 1.5px;
    background: rgba(255,153,0,1);
    padding: 2px;
    box-shadow: 2px 2px 2px #888;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 600px) {
      width: 400px; 
    }
}

@import './edit';
@import './home';
@import './info';
@import './note';
@import './resume';