.note{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notePage{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    @media (min-width: 600px) {
      // width: 400px;
      // margin-left: auto;
      width: 600px;
    }
}

.noteTitle{
    margin: 25px 15px;
    font-size: mobile-title-font-size;
    @media (min-width: 600px) {
        font-size: desktop-title-font-size;      
    }
    text-align: center;
    text-transform: uppercase;
}

.noteDate{
    font-family: secondary-font-family;
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
}

.noteSource{
    font-family: secondary-font-family;
    font-size: 14px;
    color: gray;
}

.noteFullText{
    font-size: 17px;
}
